<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionMembre.My.MySettings.conxPlaneteFitness" connectionString="Provider=SQLNCLI11;Data Source=GaragePC;Integrated Security=SSPI;Initial Catalog=PlaneteFitness"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>